
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/styles.css">
        <title>Todo List</title>
    </head>
    <body>
        
  <div class="box" id="heading">
    <h1> <%= date %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<list.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%=  list[i]  %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
  </div>
    </body>

</html>
